{# answer.html template

   parameters:
     record: filenumber
     response: type of response needed, (a)nswer, (r)eview, or (t)iebreaker
     files: dictionary mapping from suffixes (q,a,e,o,t) to text

   POSTs:
     record = request.form['record']     # file number with zeroes
     response = request.form['response'] # [submit button] 1 of: a,e,o,te,to
     answer = request.form['answer']     # text (maybe audio someday)

#}
{% extends "layout.html" %}
{% block page_content %}
  <form action="{{ url_for('answer') }}" method=post>{# class=? for css? #}
  {% if response == 'a' %}
    <h3>Please answer this question.</h3>
      <h4>Question:</h4>
      {{ files['q']|safe }}
      <h4>Your answer:</h4>
      <textarea name=answer style="width: 80%; height: 15%;"></textarea>
      <br/>
      <h4>Optionally add a pertinent web page:</h4>
      <input id=iframeurl type=text name=iframeurl placeholder="Optional URL"
             style="width: 70%;" />
      <input type=button value=Preview onclick="LoadIframe(); return False;" />
      <button type=submit name=response value=a>Answer</button>
      <input type=hidden name=record value={{ record }} />
  {% elif response == 'r' %}
    <h3>Please review the proposed answer to this question.</h3>
      <h4>Question:</h4>
      {{ files['q']|safe }}
      <h4>Proposed answer:</h4> 
      {{ files['a']|safe }}
      <h4>Your comments:</h4>
      <textarea name=answer style="width: 80%; height: 15%;"></textarea>
      <br/>
      <h4>Optionally add a pertinent web page:</h4>
      <input id=iframeurl type=text name=iframeurl placeholder="Optional URL"
             style="width: 40%;" />
      <input type=button value=Preview onclick="LoadIframe(); return False;" />
      <button type=submit name=response value=e>Endorse proposed answer</button>
      <button type=submit name=response value=o>Oppose proposed answer</button>
      <input type=hidden name=record value={{ record }} />
  {% elif response == 't' %}
    <h3>Please decide between this question's proposed answer and opposing comments.</h3>
      <h4>Question:</h4> 
      {{ files['q']|safe }}
      <h4>Proposed answer:</h4> 
      {{ files['a']|safe }}
      <h4>Comments opposing that proposed answer:</h4> 
      {{ files['o']|safe }}
      <h4>Your comments:</h4>
      <textarea name=answer  style="width: 80%; height: 15%;"></textarea>
      <br/>
      <h4>Optionally add a pertinent web page:</h4>
      <input id=iframeurl type=text name=iframeurl placeholder="Optional URL"
             style="width: 40%;" />
      <input type=button value=Preview onclick="LoadIframe(); return False;" />
      <button type=submit name=response value=te>Endorse proposed answer</button>
      <button type=submit name=response value=to>Oppose proposed answer</button>
      <input type=hidden name=record value={{ record }} />
  {% endif %}
  </form>
  <iframe id=iframeobj name=iframeobj 
          style="display: none; height: 40%; width: 100%;"></iframe>
{% endblock %}
