{% extends "layout.html" %}
{% block body %}

	<head>
	<script type="text/javascript">
		function LoadIFrame(){
			var iframe = document.getElementById("iframeobj");
			iframe.src = document.getElementById("iframeurl").value;
		}
	</script>
	</head>



    <form action="{{ url_for('ask') }}" method=post>{# class=? for css? #}
      <h2>Please ask a question.</h2>
        <h3>Your question:</h3>
        <textarea id="question"  name=question rows=5 cols=70 style="width:50%"></textarea>
        <br/>
        <h3>Add an optional URL to support your question</h3>
        <input id="iframeurl" type=text name=iframeurl placeholder="Paste the relevant article url, diff or permalink" style="width:45%" />
        <input type=button value=Go onclick="LoadIFrame(); return False;" style="width:4%" />
        <br/>
        <iframe id="iframeobj" name=iframeobj src="" style="height:150%;width:50%"></iframe>
        <br/>
        <br/>
        <input type=submit value=Ask />
    </form>
{% endblock %}