{% extends "layout.html" %}
{% block page_content %}
  <form autocomplete="off" action="{{ url_for('ask') }}" method=post>
    <h3 clear=all>Ask a question:</h3 clear=all>
      <textarea name=question style="width: 80%; height: 15%;"></textarea>
      <br/>
      <h4 clear=all>Optionally add a pertinent web page (e.g. diff or permalink):</h4 clear=all>
      <input id=iframeurl type=text name=iframeurl placeholder="Optional URL"
             style="width: 70%;" />
      <input type=button value=Preview onclick="LoadIframe(); return False;" />
      <input type=submit value=Ask />
  </form>
  <iframe id=iframeobj style="display: none; height: 40%; width: 100%;"
          ></iframe>
{% endblock %}
