{% extends "layout.html" %}
{% block page_content %}
  <h3 clear=all>Help Pages</h3 clear=all>
  <p>You can find the documentation for all the app functions in the following pages:</p>
  <br/>
  <p><a href="http://mediawiki.org/wiki/Accuracy_review/docs" target="_blank">Documentation Home Page</a></p>
  <p><a href="http://mediawiki.org/wiki/Accuracy_review/docs/register" target="_blank">How to register</a></p>
  <p><a href="http://mediawiki.org/wiki/Accuracy_review/docs/ask" target="_blank">How to ask a question</a></p>
  <p><a href="http://mediawiki.org/wiki/Accuracy_review/docs/answer" target="_blank">How to answer a question</a></p>
  <p><a href="http://mediawiki.org/wiki/Accuracy_review/docs/recommend" target="_blank">How to recommend an edit</a></p>
  <p><a href="http://mediawiki.org/wiki/Accuracy_review/docs/inspect" target="_blank">How does inspect work</a></p>
{% endblock %}
