{# inspect.html template (GET only, no POSTs)

   parameters:
        count, first, last,
        mindate=ctime(mindate), maxdate=ctime(maxdate), 
        meandate=ctime(meandate),
        searchstring, 
        stringqs=len(stringtimes['q']), 
        sqmn=mintime(stringtimes['q']), sqmx=maxtime(stringtimes['q']),
        stringas=len(stringtimes['a']), 
        samn=mintime(stringtimes['a']), samx=maxtime(stringtimes['a']),
        stringes=len(stringtimes['e']),
        semn=mintime(stringtimes['e']), semx=maxtime(stringtimes['e']),
        stringos=len(stringtimes['o']), 
        somn=mintime(stringtimes['o']), somx=maxtime(stringtimes['o']),
        stringts=len(stringtimes['t']),
        stmn=mintime(stringtimes['t']), stmx=maxtime(stringtimes['t']),
        stringds=len(stringtimes['d']), 
        sdmn=mintime(stringtimes['d']), sdmx=maxtime(stringtimes['d']),
        reviewer, 
        revas=len(stringtimes['a']), 
        reves=len(stringtimes['e']), revos=len(stringtimes['o']),
        revts=len(stringtimes['t']), reviewercount=reviewercount, 
        revieweragree=revieweragree, reviewerdised=reviewerdised

                  displays revieweragree/(reviewerdised+revieweragree)
                  as a percent ratio if its denominator is positive
#}
{% extends "layout.html" %}
{% block page_content %}
  <h3>Summary statistics</h3>
    <table>
      <tr><th>Files:</th><td>{{ count }}</td></tr>
      <tr><th>First:</th><td>{{ first }}</td></tr>
      <tr><th>Last:</th><td>{{ last }}</td></tr>
      <tr><th>Earliest:</th><td>{{ mindate }}</td></tr>
      <tr><th>Latest:</th><td>{{ maxdate }}</td></tr>
      <tr><th>Mean date:</th><td>{{ meandate }}</td></tr>
    </table>
    {% if searchstring %}
    <table>
      <tr><th>Question search for:</th><th>{{ searchstring }}</th>
          <th>Earliest</th><th>Latest</th></tr>
      <tr><td>-q files:</td><td>{{ stringqs }}</td>
          <td>{{ sqmn }}</td><td>{{ sqmx }}</td></tr>
      <tr><td>-a files:</td><td>{{ stringas }}</td>
          <td>{{ samn }}</td><td>{{ samx }}</td></tr>
      <tr><td>-e files:</td><td>{{ stringes }}</td>
          <td>{{ semn }}</td><td>{{ semx }}</td></tr>
      <tr><td>-o files:</td><td>{{ stringos }}</td>
          <td>{{ somn }}</td><td>{{ somx }}</td></tr>
      <tr><td>-t files:</td><td>{{ stringts }}</td>
          <td>{{ stmn }}</td><td>{{ stmx }}</td></tr>
      <tr><td>-d files:</td><td>{{ stringds }}</td>
          <td>{{ sdmn }}</td><td>{{ sdmx }}</td></tr>
    </table>
    {% endif %}
    {% if reviewer %}
    <table>
      <tr><th>Reviewer search for:</th><th>{{ reviewer }}</th></tr>
      <tr><td>Total reviews:</td><td>{{ reviewercount }}</td></tr>
      <tr><td>Times agreed with:</td><td>{{ revieweragree }}</td></tr>
      <tr><td>Times disagreed with:</td><td>{{ reviewerdised }}</td></tr>
      {% if revieweragree + reviewerdised > 0 %}
        <tr><td>Agreement ratio:</td><td>{{ ratio }}</td></tr>
      {% endif %}
      <tr><td>-a files:</td><td>{{ revas }}</td></tr>
      <tr><td>-e files:</td><td>{{ reves }}</td></tr>
      <tr><td>-o files:</td><td>{{ revos }}</td></tr>
      <tr><td>-t files:</td><td>{{ revts }}</td></tr>
    </table>
    {% endif %}
  <form action="{{ url_for('inspect') }}" method=get>
  Question search for: <input type=text name=q />
  <input type=submit value=Search />
  </form>
  <form action="{{ url_for('inspect') }}" method=get>
  Reviewer search for: <input type=text name=r />
  <input type=submit value=Search />
  </form>
{% endblock %}
