{# recommend.html template

   parameters:
     record: filenumber
     files: dictionary mapping from suffixes (q,a,e,o,t) to text

   POSTs:
     record = request.form['record']         # file number with zeroes
     resolution = request.form['resolution'] # implementation, e.g. diff URL
#}
{% extends "layout.html" %}
{% block page_content %}
  <form action="{{ url_for('recommend') }}" method=post>{# class=? for css? #}
    <h3>Please implement this recommendation.</h3>
      <h4>Question:</h4> 
      {{ files['q']|safe }}
      <h4>Proposed answer:</h4> 
      {{ files['a']|safe }}
      {% if files ['e'] is defined %}
        {% if files ['t'] is defined %}
          <h3>That answer had initially been opposed with these comments:</h3> 
          {{ files['t']|safe }}
        {% endif %}
        <h3>The answer was endorsed with these comments:</h3> 
        {{ files['e']|safe }}
      {% else %}
        <h3>The answer had initially been opposed with these comments:</h3> 
        {{ files['t']|safe }}
        <h3>The answer was finally opposed with these comments:</h3> 
        {{ files['o']|safe }}
      {% endif %}
      <h4>Your implementation:</h4>
      <textarea name=resolution  style="width: 80%; height: 15%;"></textarea>
    <br/>
    <h4>Optionally add a pertinent web page (e.g. diff or permalink):</h4>
    <input id=iframeurl type=text name=iframeurl placeholder="Optional URL"
           style="width: 70%;" />
    <input type=button value=Preview onclick="LoadIframe(); return False;" />
      <input type=submit name=response value=Done />
      <input type=hidden name=record value={{ record }} />
  </form>
  <iframe id=iframeobj style="display: none; height: 40%; width: 100%;"></iframe>
{% endblock %}
