<p>Hello {{ name }},</p>
<p>Welcome to <b>AROWF</b>!</p>
<p>We are very excited to have you join our community! To start answering questions and gaining reward points, you will need your token. In case it hasn't already been set, you can go to the home page and set your token.</p>
<p>Your token is:</p>
<p>{{ token }}</p>

<p>To get started, you can refer to our help docs <a href='https://www.mediawiki.org/wiki/Accuracy_review/docs' target='_blank'>here</a>. Feel free to contact us anytime you need further assistance.</p>
<p>We look forward to have you contributing!</p>
</br>
<p>Sincerely,</p>
<p>The AROWF Team</p>